
name: ci

on:
	push:
		branches: ["main"]
	pull_request:
		branches: ["main"]

jobs:
	lint-and-test:
		runs-on: ubuntu-latest
		steps:
			- name: Checkout
				uses: actions/checkout@v4

			- name: Set up Node
				uses: actions/setup-node@v4
				with:
					node-version: "20"

			- name: Install dependencies
				run: npm ci
				continue-on-error: true

			- name: Lint
				run: npm run lint
				continue-on-error: true

			- name: Test
				run: npm test
				continue-on-error: true
